body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    position: relative;
    align-self: center;
    height: 38em;
    width: 40em;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.9em;
    margin: 4em;
    border-radius: 0.50em;
    background: rgba(218, 218, 218, 0.2);
}

.title {
    font-size: 30px;
    margin-top: 2em;
    color: #444343;
    font-family: Monserrat, sans-serif;
    margin-bottom: 2.5em;
}

.search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    border: 0.05em solid #6c6a6a;
    border-radius: 0.29em;
    padding: 0.6em;
    background: white;
    font-size: 18px;
}

.search-bar {
    width: 32em;
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 0.4em;
    font-size: 0.9em;
}
.search-bar:focus {
    border: royalblue;
}
.search-icon {
    position: absolute;
    right: 0.6em;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    width: .8em;
    height: .8em;
    fill: #656363;
}

.search-icon svg {
    width: 100%;
    height: 100%;
}
.options-style{
    position: absolute;
    margin:0;
    padding: 0;
    max-height: 15em;
    overflow-y: auto;
    list-style: none;
    display: none;
    background: white;
    font-size: 1em;
    width: 100%;
    border: 0.05em solid #6c6a6a;
    border-radius: 0.29em;
    left: 0;
    top: calc(100% + .10em);
    z-index: 100;
}
.options-style.show{
    display:block;
}
.movie-option{
    padding: .25em .5em;
    cursor: pointer;
}
.movie-option.highlighted{
    background: rgba(208, 207, 207, 0.26);
}
.selected{
    background: rgba(218, 218, 218, 0.32);
}
.matching-key{
    background: rgba(218, 218, 218, 0.84);
}
.clear-btn-container{
    top: 16%;
    position: absolute;
    right: 1.3em;
    width: 2em;
    height: 2em;
}
.clear-btn{
    color: #777;
    font-size: 26px;
    font-weight: normal;
    border: none;
    background: transparent;
    cursor: pointer;
    right: .8em;
}
.clear-btn:focus,
.clear-btn:hover {
    color: #333;
}
